.content {
  min-height: calc(100vh - 200px);  /* Adjusted to account for header */
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage {
  text-align: center;
}

.homepage h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.homepage h2 {
  font-size: 1.5rem;
  color: #666;
  margin-top: 0;
}
